{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Реєстрація пацієнта</title>
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
</head>
<body>

  <header class="main-header">
    <div class="logo">
      <img src="{% static 'img/favicon.png' %}" alt="Логотип">
      <span>MediCheck</span>
    </div>

    <nav class="nav-links">
      <a href="{% url 'index' %}">Головна</a>
      <a href="{% url 'about' %}">Про нас</a>
    </nav>
  </header>


  <div class="register-wrapper">
    <div class="register-form">
      <h1>Реєстрація пацієнта</h1>
      <form method="post">
        {% csrf_token %}
        <input type="text" name="last_name" placeholder="Прізвище" required>
        <input type="text" name="first_name" placeholder="Ім’я" required>
        <input type="text" name="middle_name" placeholder="По-батькові">
        
        <div class="gender">
          <label><input type="radio" name="gender" value="male" required> Чоловік</label>
          <label><input type="radio" name="gender" value="female" required> Жінка</label>
        </div>

        <input type="date" name="dob" required placeholder="Дата народження">
        <input type="email" name="email" placeholder="Електронна адреса" required>
        <input type="password" name="password" placeholder="Пароль" minlength="8" required>
        <small class="password-note">Пароль повинен складатися не менше, ніж з 8 символів.</small>

        <label class="agree-box">
          <input type="checkbox" name="agree" required>
          Я даю згоду на обробку моїх персональних даних.
        </label>

        <button type="submit">Зареєструватись</button>
      </form>
    </div>

    <div class="register-image">
      <img src="{% static 'img/register-visual.png' %}" alt="Зображення">
    </div>
  </div>

</body>
</html>
